@use 'variables' as *;

@mixin box-sizing($b-model: $box-model) {
    -webkit-box-sizing: $b-model; // Safari <= 5
    -moz-box-sizing: $b-model; // Firefox <= 19
    box-sizing: $b-model;
}

@mixin padding-main {
    padding: 0 $padding-main 0 $padding-main;
}

@mixin mq($mq-breakpoint, $mq-breakpoints: $breakpoints) {
    @if map-has-key($mq-breakpoints, $mq-breakpoint) {
        $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
      }
    @media screen and (min-width: $mq-breakpoint) {
        @content;
    }
}