$box-model: border-box;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-background-location: #eaeaea;
$color-background-bloc: #f6f6f6;
$color-background-footer: #353535;

$color-txt-icone: #7e7e7e;

$color-shadow: #cfcfcf;

$padding-main: 1rem;

$loader-time: 4s;

$dishe-animation-delay: 200ms;

$breakpoints: (
    small: 576px, // landscape phones
    medium: 768px, // tablets
    large: 992px, // desktops
    extra-large: 1200px, //large desktops
);