@use '../abstracts' as *;

.button {
    display: block;
    width: 70%;

    background: linear-gradient(-5deg, $color-primary, $color-secondary);
    border-radius: 50px;
    box-shadow: 0 10px 10px 0 $color-shadow;
    margin: 0 auto;
    padding: 0.8rem;

    &:hover {
        /* Remove shadow ?? => filter: brightness(125%); */
        background: linear-gradient(-5deg, lighten($color-primary, 10%), lighten($color-secondary, 10%));
    }
}

.fa-heart {
    background-color: transparent;
    display: inline-block;
    transform: translateX(50%);
    position: relative;

    & > i {
        display: inline-block;
        transform: translateX(-100%);
        opacity: 0;
        position: absolute;

        &:hover {
            font-weight: 900;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(-5deg, $color-secondary, $color-primary);
            -webkit-text-fill-color: transparent;
            transition: opacity 500ms ease-in;
            opacity: 1;
        }
    }
}