@use '../abstracts' as *;

.button {
    display: block;
    width: 70%;

    background: linear-gradient(-5deg, $color-primary, $color-secondary);
    border-radius: 50px;
    box-shadow: 0 10px 10px 0 $color-shadow;
    margin: 0 auto;
    padding: 0.8rem;

    &:hover {
        filter: brightness(125%);
    }
}