@use '../abstracts' as *;

.restaurant-card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0.1rem 30px 0 $color-shadow;
    overflow: hidden;
    position: relative;

    @include mq(large) {
        flex-basis: 48%;
    }

    @include mq(extra-large) {
        flex-basis: 23%;
    }

    img {
        height: 9.3rem;
        width: 100%;

        object-fit: cover;
    }

    .new {
        background-color: $color-tertiary;
        border-radius: 0.1rem;
        padding: 0.35rem 0.7rem;
        position: absolute;
        margin: 0;
        right: 0.7rem;
        top: 0.7rem;
    }

    &__description {
        display: flex;
        align-items: center;
        padding: 0.6rem 0 0.7rem 0;

        &--left {
            flex: 1;

            padding-left: 1rem;

            h2, p {
                margin: 0;
            }
        
            p {
                padding-top: 0.2rem;
            }
        }

        &--right {
            flex: 0.2;

            padding-right: 1.5rem;
        }  
    }
}

.dishe {
    overflow: hidden;
    
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 30px 0 $color-shadow;
    margin-bottom: 1rem;
    position: relative;

    /* For dishe animation */
    animation: dishes-loader 1s ease-out 1 both;
    @for $i from 1 to 4 {
        &:nth-child(#{$i+1}) {
            animation-delay: $dishe-animation-delay * $i;
        }
    }

    &__description {
        width: 96%;

        padding: 0.5rem 0 0.5rem 0.7rem;
        transition: width 1s ease-in-out;

        &--complement {
            display: flex;
            justify-content: space-between;

            margin-top: 0.2rem;
            padding-right: 0.2rem;

            p:nth-child(2) {
                margin-left: 2rem;
            }
        }

        h3 {
            margin-right: 3.2rem;
        }
    }

    &:hover &__description {
        width: calc(96% - 3rem);

        transition: width 1s ease-in-out;
    }

    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 100%;

        background-color: $color-tertiary;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(100%);
        transition: all 1s ease-in-out;

        i {
            padding: 0 1rem 0 1rem;
            transform: rotate(-270deg);
            transition: transform 800ms ease-in-out;
        }
    }

    &:hover &__check {
        transform: translate(0);
        transition: all 1s ease-in-out;

        i {
            transform: rotate(0deg);
            transition: transform 800ms 200ms ease-in-out;
        }
    }

    p, h3 {
        margin-top: 0;
        margin-bottom: 0;
    }
}