@use '../abstracts' as *;

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 700;
}

/** Layout **/

h1 {
    font-size: 3.1rem;
    font-weight: 900;
}

/** Header **/

header {
    h1 {
        font-family: 'Shrikhand', sans-serif;
        font-size: 3.90rem;
        font-weight: 400;

        a {
            color: black;
            text-decoration: none;
        }
    }

    &.--with-home-link {
        a {
            color: black;
        }
    }
}

/** Home **/

.presentation {
    p {
        font-size: 2.2rem;
        font-weight: 400;
    }
}

.manual {
    li {
        i {
            color: $color-txt-icone;
            font-size: 2.6rem;
        }

        &::before {
            color: white;
            font-size: 1.7rem;
            font-weight: 400;
        }

        &:hover i {
            color: $color-primary;
        }
    }
}

/** Restaurant **/

.restaurant {
    &__title {
        h1 {
            font-family: 'Shrikhand', sans-serif;
            font-size: 3.5rem;
            font-weight: 400;
        }
        i {
            font-size: 4rem;
        }
        
    }
    &__menu {
        h2 {
            font-size: 2rem;
            font-weight: 400;
        }
    }
}

/** Components **/

.button {
    color: white;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.restaurant-card {
    .new {
        color: darken($color-tertiary, 40);
        font-size: 1.8rem;
        font-weight: 700;
    }

    a {
        color: black;
        text-decoration: none;
    }

    &__description {
        &--left {
            h2, p {
                font-size: 2.3rem;
            }
        
            p {
                font-weight: 400;
            }
        }

        &--right {
            font-size: 4rem;
            text-align: end;
        }
    }
}

.dishe {
    &__description {
        &--complement p {
            font-weight: 400;
            &.ellipsis {
                text-overflow: ellipsis;
                white-space:nowrap;
                overflow: hidden;
            }
        }
        & h3 {
            text-overflow: ellipsis;
            white-space:nowrap;
            overflow: hidden;
        }
    }
    &__check {
        color: white;
        font-size: 2.5rem;
    }
}

/** Footer **/

footer {
    color: white;

    p {
        font-family: 'Shrikhand', sans-serif;
        font-size: 2rem;
        font-weight: 400;
    }

    a {
        color: white;
        font-size: 2rem;
        font-weight: 400;
        text-decoration: none;
    }
}